<!doctype html>
<style type="text/css">
.centered {
	margin: auto;
	width: 20%
}
.thick-border {
	border: 3px solid black;
	boarder-collapse: collapse;
}
th,td {
	border: 2px solid black;
	border-collapse: collapse;
}
</style>
<table class="centered thick-border">
	<tr>
			<th> u1.author_screen_name</th>
			<th> u2.author_screen_name  </th>
			<th> tids </th>
			<th> mention_count    </th>
	</tr>
	{% for i in rows1: %}
		<tr>
		{% if(i['u1.author_screen_name']): %}
					<td>{{ i['u1.author_screen_name'] }}</td> 
    	{% endif %}
    	{% if(i['u2.author_screen_name']): %}
					<td>{{ i['u2.author_screen_name'] }}</td> 
    	{% endif %}
    	{% if(i['tid']): %}
					<td>{{ i['tids'] }}</td>
		{% endif %}
    	{% if(i['mention_count']): %}
					<td>{{ i['mention_count'] }}</td> 
		{% endif %}
    	</tr> 
    {%endfor%}
</table>

<!-- match (u1:Author)-[:Tweets]->(:Tweet)<-[:mentions]-(t2:Tweet)<-[:Tweets]-(u2:Author) where u1.author_screen_name="morlee" return u1.author_screen_name,u2.author_screen_name,t2.tid,count(*) as mention_count order by count(*) desc limit 2 -->

<table class="centered thick-border">
	<tr>
			<th> u1.author_screen_name </th>
			<th> t1.tid  </th>
			<th> u2.author_screen_name </th>
			<th> t2.tid </th>
			<th> count </th>
	</tr>
	{% for i in rows1: %}
		<tr>
		{% if(i['u1.author_screen_name']): %}
					<td>{{ i['u1.author_screen_name'] }}</td> 
    	{% endif %}
    	{% if(i['t1.tid']): %}
					<td>{{ i['t1.tid'] }}</td>
    	{% endif %}
    	{% if(i['u2.author_screen_name']): %}
					<td>{{ i['u2.author_screen_name'] }}</td>
    	{% endif %}
    	{% if(i['t2.tid']): %}
					<td>{{ i['t2.tid'] }}</td>
    	{% endif %}
    	{% if(i['count']): %}
					<td>{{ i['count'] }}</td>
    	{% endif %}
    	</tr> 
    {%endfor%}
</table>
<!-- u1.author_screen_name,t1.tid,u2.author_screen_name,t1.tweet,t2.tid,count(*) as count -->